body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: url('../waves.gif') no-repeat center center fixed;
    background-size: cover;
}

header, footer {
    background-color: rgba(51, 51, 51, 0.9);
    color: #fff;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    position: fixed;
    width: 80%;
    top: 0;
    z-index: 1000;
}

footer {
    position: fixed;
    width: 80%;
    bottom: 0;
    z-index: 1000;
}

header h1, footer p {
    margin: 0;
    font-weight: 700;
}

header nav ul, footer nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

header nav ul li, footer nav ul li {
    margin-left: 20px;
}

header nav ul li a, footer nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

header nav ul li a:hover, footer nav ul li a:hover {
    color: #0779e4;
}

main {
    margin-top: 100px; /* Adjust based on header height */
    margin-bottom: 100px; /* Adjust based on footer height */
    padding: 20px;
    color: #333;
}

/*-------------------------------------------------------------------------------------------------------------------------------*/

/* Deixa a imagem e o about me juntos e lado a lado */
/* Secção do sobre mim */
.content-wrapper {
    display: flex;
    align-items: center;
    margin: 20px 30% 20px 30%; /* Ajusta a margem como (top, right, bottom, left)*/
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px #ccc;
}

.about-me-image {
    flex: 0 0 auto; 
    margin-right: 20px; 
    width: 200px; 
    height: auto; 
}

.about-me-text {
    flex: 1; 
}

.about-me-text h2 {
    margin-top: 0; 
}

.about-me-text p {
    margin-bottom: 0;
}
/*------------------------------------------------------------------*/

/* Secção das sugestões*/
.content-wrapper2 {
    display: flex;
    justify-content: space-between;
    margin: 20px 10%;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content-section, .ads-section {
    flex: 1;
}

.ads-section {
    margin-left: 20px;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    margin: 20px 0;
}

.most-popular, .what-to-watch {
    margin-bottom: 20px;
}

.most-popular h2, .what-to-watch h2 {
    margin-bottom: 10px;
}

/*Faz com que não haja espaço entre os conteúdos das listas e tornas mais visualemente distintas*/
.content-wrapper2 ul {
    list-style-type: none;
    padding: 0;
}

.content-wrapper2 ul li a {
    text-decoration: none;
    color: #666;
    transition: color 0.3s ease;
}

.content-wrapper2 ul li a:hover {
    color: #333;
}

.ads-section img {
    width: 50%;
    margin: 5px 25%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/*-----------------------------------------------------*/

#my-projects {
    margin: 20px 15% 20px 15%;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#my-projects h2 {
    color: #333;
    margin-bottom: 20px;
}

.project, .instagram-gallery {
    margin-bottom: 20px;
}

.instagram-gallery .gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Ajusta o espaçamento entre imagens */
}

.instagram-gallery .gallery .image-container {
    flex: 1;
    text-align: center; /* Centra o conteúdo na horizontal */
}

.instagram-gallery .gallery img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/*-------------------------------------------------------------*/