.form-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 50vh; /* Define a altura do container como metade da altura da viewport */
}

.signin-form, .signup-form {
    width: 300px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signin-form h2, .signup-form h2 {
    margin-bottom: 20px;
    text-align: center;
}

.signin-form input, .signup-form input, .signin-form button, .signup-form button {
    width: calc(100% - 20px);
    margin-bottom: 10px;
    padding: 10px;
}

.signin-form input, .signup-form input {
    border: 1px solid #ccc;
    border-radius: 5px;
}

.signin-form button, .signup-form button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.signin-form button:hover, .signup-form button:hover {
    background-color: #555;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-image: url('../waves.gif');
    background-size: cover; /* Cobre a página toda */
    background-position: center; 
    background-attachment: fixed; /* Faz com que a imagem fica fixa com scroll up and down */
}